@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Ubuntu:wght@300;400&display=swap');

* {
    font-family: poppins;   
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
button {
    margin: 50px;
    height: 50px    ;
    border: 2px solid #7c7c7c;
    border-top: #fff;
    border-left: #fff;    
}
a {
    text-decoration: none;
    color: black;
}
.logout {
    margin: 20px;
    margin-left: 89%;   
    width: 135px;
    font-size: 25px;
    text-align: center;
}
.inventory {
    width: 100%;    
    margin: 0;
    overflow: auto;
}
.item-1 {
    width: 10px;    
}
.item {
    width: 150px;    
}
button:hover {
    background-color:dimgrey;
    color: white;
}
.main :hover {
    background-color: dimgrey;
    color: white;
}
h2 :hover {
    background-color: dimgrey;
    color: white;
}
a:hover {
    color: white;
}
.logout:hover {
    background-color: dimgray;    
}
table th{
    background-color:burlywood;    
}
